; mtorrent default config

[mtorrent]
ui-port         = 1337
save-path       = /data
session-file    = /mtorrent_session

[torrent]

listen          = 6881
listen          = 6889

max-connections = 50
max-uploads     = -1
upload-limit    = 0
download-limit  = 0

dht-port        = 6881
dht-router      = router.bittorrent.com
dht-router      = router.utorrent.com
dht-router      = router.bitcomet.com
