; mtorrent default config

[mtorrent]
ui-port         = 1337
save-path       = /data
watch-path      = /data/watch
session-file    = /data/session/mtorrent_session
lock-file       = /data/session/mtorrent_lock

[torrent]

listen          = 6881
listen          = 6889

max-connections = 50
max-uploads     = -1
ratio           = 0.0
upload-limit    = 0
download-limit  = 0

# resolve-countries

dht-port        = 6881
dht-router      = router.bittorrent.com
dht-router      = router.utorrent.com
dht-router      = router.bitcomet.com
